In [48]:
import pandas as pd
import numpy as np

In [49]:
bd_df_2425 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 24_25.csv")

In [50]:
bd_df_2425.head()

,Playing Time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Performance,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
1,Augsburg,29,26.8,44.3,34,374,"3,060",34,35,26,...,1.03,0.76,1.79,1,1.76,1.02,0.74,1.76,0.97,1.71
2,Bayern Munich,29,27.7,67.9,34,374,"3,060",34,96,66,...,2.82,1.94,4.76,2.56,4.5,2.4,1.76,4.16,2.18,3.93
3,Bochum,27,28,45.5,34,374,"3,060",34,32,23,...,0.94,0.68,1.62,0.91,1.59,1.23,0.88,2.11,1.16,2.04
4,Dortmund,28,26.6,58.9,34,374,"3,060",34,69,56,...,2.03,1.65,3.68,1.88,3.53,1.8,1.39,3.19,1.66,3.06

In [51]:
bd_df_2425 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 24_25.csv", header=1)

bd_df_2425.reset_index(drop=True, inplace=True)

bd_df_2425.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Augsburg,29,26.8,44.3,34,374,"3,060",34,35,26,...,1.03,0.76,1.79,1.00,1.76,1.02,0.74,1.76,0.97,1.71
1,Bayern Munich,29,27.7,67.9,34,374,"3,060",34,96,66,...,2.82,1.94,4.76,2.56,4.50,2.40,1.76,4.16,2.18,3.93
2,Bochum,27,28.0,45.5,34,374,"3,060",34,32,23,...,0.94,0.68,1.62,0.91,1.59,1.23,0.88,2.11,1.16,2.04

In [52]:
bd_df_2324 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 23_24.csv", header=1)

In [53]:
bd_df_2324 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 23_24.csv", header=1)

bd_df_2324.reset_index(drop=True, inplace=True)

bd_df_2324.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Augsburg,29,26.0,43.9,34,374,"3,060",34,49,35,...,1.44,1.03,2.47,1.29,2.32,1.36,0.81,2.17,1.20,2.01
1,Bayern Munich,30,27.4,61.3,34,374,"3,060",34,93,71,...,2.74,2.09,4.82,2.59,4.68,2.50,1.94,4.44,2.39,4.33
2,Bochum,25,29.1,46.6,34,374,"3,060",34,41,30,...,1.21,0.88,2.09,1.09,1.97,1.31,0.89,2.20,1.22,2.11

In [54]:
bd_df_2223 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 22_23.csv", header=1)

In [55]:
bd_df_2223 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 22_23.csv", header=1)

bd_df_2223.reset_index(drop=True, inplace=True)

bd_df_2223.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Augsburg,34,25.9,41.7,34,374,"3,060",34,41,29,...,1.21,0.85,2.06,1.09,1.94,1.02,0.71,1.74,0.91,1.62
1,Bayern Munich,28,26.6,64.2,34,374,"3,060",34,90,67,...,2.65,1.97,4.62,2.56,4.53,2.20,1.67,3.87,2.09,3.75
2,Bochum,26,29.4,46.1,34,374,"3,060",34,37,28,...,1.09,0.82,1.91,1.00,1.82,1.18,0.83,2.01,1.11,1.94

In [56]:
bd_df_2122 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 21_22.csv", header=1)

In [57]:
bd_df_2122 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 21_22.csv", header=1)

bd_df_2122.reset_index(drop=True, inplace=True)

bd_df_2122.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Arminia,26,25.8,40.7,34,374,"3,060",34,26,18,...,0.76,0.53,1.29,0.71,1.24,0.77,0.51,1.28,0.73,1.23
1,Augsburg,26,26.6,41.5,34,374,"3,060",34,39,26,...,1.15,0.76,1.91,1.00,1.76,1.08,0.70,1.78,0.96,1.67
2,Bayern Munich,30,26.8,64.5,34,374,"3,060",34,92,70,...,2.71,2.06,4.76,2.56,4.62,2.62,1.96,4.58,2.50,4.46

In [58]:
bd_df_2021 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 20_21.csv", header=1)

In [59]:
bd_df_2021 = pd.read_csv("/Users/lewisclark/Desktop/PROJECTS/final_project/sheets_data/BD_DATA/bundesliga_data - 20_21.csv", header=1)
bd_df_2021.reset_index(drop=True, inplace=True)

bd_df_2021.head(3)

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Arminia,26,26.0,42.3,34,374,"3,060",34,23,16,...,0.68,0.47,1.15,0.65,1.12,0.97,0.70,1.67,0.92,1.62
1,Augsburg,25,27.0,41.4,34,374,"3,060",34,35,23,...,1.03,0.68,1.71,0.97,1.65,1.10,0.76,1.86,0.98,1.74
2,Bayern Munich,29,27.3,60.7,34,374,"3,060",34,98,75,...,2.88,2.21,5.09,2.62,4.82,2.23,1.62,3.86,2.00,3.63

In [60]:
dfs = [bd_df_2425, bd_df_2324, bd_df_2223, bd_df_2122, bd_df_2021]

keep_columns = [
    'Squad', 'Poss', '90s', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
    'xG.1', 'xAG.1', 'xG+xAG', 'npxG+xAG.1', 'PrgC', 'PrgP', 'CrdY', 'CrdR']

bd_df_2425, bd_df_2324, bd_df_2223, bd_df_2122, bd_df_2021 = [df[keep_columns] for df in dfs]

bd_df_2425.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR
0,Augsburg,44.3,34,1.03,0.76,1.79,1.00,1.02,0.74,1.76,1.71,450,1162,78,5
1,Bayern Munich,67.9,34,2.82,1.94,4.76,2.56,2.40,1.76,4.16,3.93,831,2138,48,1
2,Bochum,45.5,34,0.94,0.68,1.62,0.91,1.23,0.88,2.11,2.04,378,1090,71,2
3,Dortmund,58.9,34,2.03,1.65,3.68,1.88,1.80,1.39,3.19,3.06,701,1563,71,6
4,Eint Frankfurt,49.7,34,2.00,1.38,3.38,1.91,1.91,1.33,3.24,3.13,585,1347,55,1

In [61]:
bd_df_2425['Season'] = '2024-25'
bd_df_2324['Season'] = '2023-24'
bd_df_2223['Season'] = '2022-23'
bd_df_2122['Season'] = '2021-22'
bd_df_2021['Season'] = '2020-21'

master_bd_df_stats = pd.concat([bd_df_2425, bd_df_2324, bd_df_2223, bd_df_2122, bd_df_2021], ignore_index=True)

/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11142/289691751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_df_2425['Season'] = '2024-25'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11142/289691751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_df_2324['Season'] = '2023-24'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11142/289691751.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_df_2223['Season'] = '2022-23'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11142/289691751.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_df_2122['Season'] = '2021-22'
/var/folders/sp/zmqgkgsj1992h0k71dlr78_80000gn/T/ipykernel_11142/289691751.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bd_df_2021['Season'] = '2020-21'

In [62]:
master_bd_df_stats.shape

(90, 16)

In [63]:
master_bd_df_stats.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR,Season
0,Augsburg,44.3,34,1.03,0.76,1.79,1.00,1.02,0.74,1.76,1.71,450,1162,78,5,2024-25
1,Bayern Munich,67.9,34,2.82,1.94,4.76,2.56,2.40,1.76,4.16,3.93,831,2138,48,1,2024-25
2,Bochum,45.5,34,0.94,0.68,1.62,0.91,1.23,0.88,2.11,2.04,378,1090,71,2,2024-25
3,Dortmund,58.9,34,2.03,1.65,3.68,1.88,1.80,1.39,3.19,3.06,701,1563,71,6,2024-25
4,Eint Frankfurt,49.7,34,2.00,1.38,3.38,1.91,1.91,1.33,3.24,3.13,585,1347,55,1,2024-25

In [64]:
master_bd_df_stats.to_csv("master_bd_df_stats.csv", index=False)

In [65]:
master_bd_df_stats["League"] = "Bundesliga"

In [66]:
master_bd_df_stats["League_ID"] = 3

In [67]:
master_bd_df_stats.head()

,Squad,Poss,90s,Gls.1,Ast.1,G+A.1,G-PK.1,xG.1,xAG.1,xG+xAG,npxG+xAG.1,PrgC,PrgP,CrdY,CrdR,Season,League,League_ID
0,Augsburg,44.3,34,1.03,0.76,1.79,1.00,1.02,0.74,1.76,1.71,450,1162,78,5,2024-25,Bundesliga,3
1,Bayern Munich,67.9,34,2.82,1.94,4.76,2.56,2.40,1.76,4.16,3.93,831,2138,48,1,2024-25,Bundesliga,3
2,Bochum,45.5,34,0.94,0.68,1.62,0.91,1.23,0.88,2.11,2.04,378,1090,71,2,2024-25,Bundesliga,3
3,Dortmund,58.9,34,2.03,1.65,3.68,1.88,1.80,1.39,3.19,3.06,701,1563,71,6,2024-25,Bundesliga,3
4,Eint Frankfurt,49.7,34,2.00,1.38,3.38,1.91,1.91,1.33,3.24,3.13,585,1347,55,1,2024-25,Bundesliga,3

In [68]:
master_bd_df_stats.to_csv("master_bd_df_stats_league.csv", index=False)

In [69]:
print(master_bd_df_stats.isna().sum())

Squad         0
Poss          0
90s           0
Gls.1         0
Ast.1         0
G+A.1         0
G-PK.1        0
xG.1          0
xAG.1         0
xG+xAG        0
npxG+xAG.1    0
PrgC          0
PrgP          0
CrdY          0
CrdR          0
Season        0
League        0
League_ID     0
dtype: int64

In [70]:
print(master_bd_df_stats.isna().any().any())

False